body {
  background-color: #282c34;
  color: white;
}
.App{
  text-align: center;
}

.array-bar {
  color: black;
  width: 6px;
  display: inline-block;
  margin: 0 1px;
}
.reset-button {
  margin: 10px;
}

.animation-controller {
  margin-bottom: 10px;
}

.bars{
  width: 100%;
}
